page-home {
   
   
}
 h1 {
        text-align: center;
        color:black;
    }

    ion-grid {
        height: 100%;
  
      }

 #row1 {
          height: 30%;
        }
        #rowSteps{
            padding-left: 5em;
          }

    #paw{
     font-size: 5em;
     padding-left: 130px;
    }

   .icon{
    font-size: 2em;
    padding-left: 1em;
    }

   .iconl{
    padding-left: 1em;
    }
    
    #row2{
       
        border-bottom: think solid black;
        }
    #moon{
        color:navy;
    }